*, * > *, *:before, *:after {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $brand-font__primary;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}

p {
	margin: 0 0 1rem 0;
}

.sub-title {
	font-family: $brand-font__secondary;
}

.hr {
	display: block;
	width: 100px;
	height: 5px;
	margin: .75rem 0;
}

.auth-login {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.btn {
	padding: .5rem .8rem;
	border: 0;
}