form {
	&.login {
		display: flex;
		flex-wrap: wrap;
		max-width: 60%;

		.form__label,
		.form__input {
			display: block;
			&--full {
				width: 100%;
			}

			&--half {
				width: 50%;
			}
		}

		label {
			font-family: $brand-font__secondary;
			margin: 0 0 .25rem 0;
		}

		input {
			font-family: $brand-font__secondary;
			margin: 0 0 1rem 0;
			padding: .5rem .8rem;
			border: 1px solid $brand__black;

			&:focus {
				outline: 0;

			}
		}

		button[type="submit"] {
			background: $brand__green;
			align-self: flex-end;
		}
	}
}