.section {
	display: block;
	padding: 1rem;

	&__title {
		background: $brand__blue;
		height: 100%;
		display: flex;
		align-items: center;
		align-content: center;
		flex-wrap: wrap;

		h1, p {
			width: 100%;
		}

		.hr {
			background-color: $brand__blue--dark;
		}

		h1 {
			color: $brand__blue--dark;
			font-size: 3rem;
		}

		p {
			color: $brand__white;
		}
	}

	&__login {
		display: flex;
		justify-content: center;
		align-content: center;
		align-items: center;
	}
}