// Brand Colors
$brand__red 			: 			#960200;
$brand__black 			: 			#000505;
$brand__white 			: 			#D8DBE2;
$brand__green			: 			#8DD15B;
$brand__yellow 			: 			#F2BB05;
$brand__blue 			: 			#002642;

// Brand Color - Modifiers
$brand__red--dark 		: 			darken($brand__red, 15%);
$brand__red--light 		: 			lighten($brand__red, 15%);
$brand__green--dark 	: 			darken($brand__green, 15%);
$brand__green--light	: 			lighten($brand__green, 15%);
$brand__yellow--dark 	: 			darken($brand__yellow, 15%);
$brand__yellow--light	: 			lighten($brand__yellow, 15%);
$brand__blue--dark 		: 			darken($brand__blue, 15%);
$brand__blue--light 		: 			lighten($brand__blue, 15%);

// Typography
$brand-font__primary 	: 			'Norwester', sans-serif;
$brand-font__secondary 	: 			'Kollektif', sans-serif;
// $brand-font__tertiary : 			;
