@font-face {
    font-family: 'Norwester';
    src: local('Norwester Regular'), local('Norwester-Regular'),
        url('fonts/norwester/norwester.woff') format('woff'),
        url('fonts/norwester/norwester.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kollektif';
    src: local('Kollektif Regular'), local('Kollektif'),
        url('fonts/kollektif/Kollektif.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@import 
	'variables',
	'default',
	'sections',
	'forms';